<!DOCTYPE html>
<link rel="stylesheet" href="/static/content/style_edycji.css">
<link rel="icon" type="image/png" href="/static/images/favicon.ico">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>VotePlus</title>
</head>
<body>
<div id="container">
    <div id="logo">
        <img src="/static/images/logo.png" alt="Logo aplikacji">
    </div>
    <div class="panel_wrapper">
        <div id="who">
            {{info[1]}} <br> <br>
            {{info[2]}} {{data[4]}} <br>
            {{info[3]}} {{data[0]}} {{data[1]}} <br>
            {{info[4]}} {{data[2]}} <br>
            {{info[5]}} {{data[3]}} <br>
            {{info[6]}} {{data[5]}} <br>
            {% if data[6] == None %}
            {{info[7]}} {{info[8]}} <br>
            {% else %}
            {{info[7]}} {{data[6]}} <br>
            {% endif %}
            <br>{{info[0]}}
        </div>
        <form method="post">
            <div id="panel">
                <label for="user_name" id="user_name_label">{{info[9]}}</label>
                <input type="text" id="user_name" name="user_name">
                <br>
                <label for="user_surname" id="user_surname_label">{{info[10]}}</label>
                <input type="text" id="user_surname" name="user_surname">
                <br>
                <label for="user_sex" id="user_sex_label">{{info[4]}}</label>
                <select id="user_sex" name="user_sex">
                    <option selected></option>
                    <option value="Kobieta">Kobieta</option>
                    <option value="Mężczyzna">Mężczyzna</option>
                    <option value="Inna">Inna</option>
                    <option value="Nie chcę podawać">Nie chcę podawać</option>
                </select>
                <label for="lata" id="user_year_label">{{info[5]}}</label>
                <div id="lata"></div>
                <label for="role" id="role_label">{{info[11]}}</label>
                <select id="role" name="role">
                    <option selected></option>
                    <option value="Tak">Tak</option>
                    <option value="Nie">Nie</option>
                </select>
                <div id="lower">
                    <a href="{{url_for('anuluj_edycje_uzytkownika')}}"><input type="button" id="do_nothing" value="Powrót"></a>
                    <input type="submit" id="write" value="Zapisz">
                </div>
            </div>
        </form>
    </div>
    <div id="footer">
        <br>
        <p>VotePlus &copy; 2021</p>
        <br>
    </div>
</div>
<script type="text/javascript" src="/static/scripts/scripts.js"></script>
</body>
</html>