<!DOCTYPE html>
<link rel="stylesheet" href="/static/content/style_rejestracji.css">
<link rel="icon" type="image/png" href="/static/images/favicon.ico">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>VotePlus</title>
</head>
<body>
<div id="container">
    <div id="logo">
        <img src="/static/images/logo.png" alt="Logo aplikacji" width="150" height="135">
    </div>
    <div class="panel_wrapper">
        <div class="panel">
            <form method="post">
                <div class="info" id="message">
                    <label>{{info}}</label>
                </div>
                <div id="lower">
                    <a href="{{url_for('logowanie')}}" class="lowerButton"><input type="button" class="customButton" value="Zaloguj się"></a>
                </div>
            </form>
        </div>
    </div>
    <div id="footer">
        <a href="{{ url_for('strona_startowa') }}"><input type="button" id="main_page" value="Strona główna"></a>
        <p>VotePlus &copy; 2021</p>
    </div>
</div>
</body>
</html>