<!DOCTYPE html>
<link rel="stylesheet" href="/static/content/style_rejestracji.css">
<link rel="icon" type="image/png" href="/static/images/favicon.ico">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>VotePlus</title>
</head>
<body>
<div id="container">
    <div id="logo">
        <img src="/static/images/logo.png" alt="Logo aplikacji">
    </div>
    <div class="panel_wrapper">
        <div class="panel">
            <div class="info">
                <p>{{info[0]}}<br>{{pytanie}}<br>{{info[1]}}</p>
            </div>
            <div id="lower">
                <a href="{{ url_for('anulowanie_usuniecia_pytania') }}" class="lowerButton"><input type="button" class="customButton" value="Nie"></a>
                <form method="POST" class="lowerButton">
                    <input type="submit" class="customButton" value="Tak">
                </form>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>VotePlus &copy; 2021</p>
    </div>
</div>
</body>
</html>