#logo {
    text-align: center;
    margin-top: 50px;
}

#panel {
    width: 600px;
    margin: 0 auto;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 50px;
    background: #fff;
    border: 1px solid #006699;
    font: 16px calibri;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 2px #006699;
    -moz-box-shadow: 0 0 2px #006699;
    box-shadow: 0 0 2px #006699;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#user_email_label {
    display: block;
    width: 550px;
    padding: 10px 20px;
    color: black;
    font-size: 17px;
    text-align: center;
    text-shadow: 0 0 1px silver;
}

#user_email {
    display: block;
    width: 360px;
    margin: 0 auto;
    padding: 10px 5px;
    margin-top: 10px;
    border: 1px solid #006699;
    outline: 5px solid #bfd6e2;
    font-size: 14px;
}

    #user_email:focus {
        outline: 5px solid #7e9dad;
    }

#back, #next {
    width: 125px;
    padding: 5px 13px;
    border: 1px solid #000099;
    color: white;
    text-shadow: 0 0 1px black;
    font-size: 13px;
    background: #003399;
    position: relative;
    left: 145px;
    top: 13px;
}

#main_page {
    width: 100px;
    height: auto;
    padding: 5px 13px;
    border: 1px solid #000099;
    color: white;
    text-shadow: 0 0 1px black;
    background: #003399;
}

    #back:hover, #back:focus, #next:hover, #next:focus, #main_page:hover, #main_page:focus {
        outline: none;
        background-color: #000099;
        border: 1px solid #000099;
    }

#back, #next, #main_page {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#lower {
    background: #006699;
    width: 560px;
    height: 50px;
    padding: 5px 20px;
    margin-top: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}

#main_page {
    display: block;
    margin: 0 auto;
    font: 12px calibri;
}

footer p {
    text-align: center;
    color: #888888;
    margin-top: 10px;
}